<%= form_for(@student) do |s| %>
    <label>Student first_name:</label><br>
    <%= s.text_field :first_name %><br>
  
    <label>Student last_name</label><br>
    <%= s.text_field :last_name %><br>
  
    <%= s.submit  %>
  <% end %>