<%= form_tag school_classes_path do %>
    <label>SchoolClass title:</label><br>
    <%= text_field_tag :title %><br>
  
    <label>SchoolClass Class number:</label><br>
    <%= text_field_tag :class_number %><br>
  
    <%= submit_tag "Submit School Class" %>
  <% end %>